.titulo {
  text-align: center;
  line-height: 1;
}

.titulo-v,
.titulo-resto {
  display: inline-block;
  vertical-align: top; /* fuerza alineación por arriba */
  margin: 0;
  line-height: 1;
}

.titulo-v {
  font-size: clamp(80px, 15vw, 240px);
}

.titulo-resto {
  font-size: clamp(53px, 10vw, 160px);
}
